<div class="container">
  <h2>Bill History</h2>

  <div class="controls">
    <label>
      From:
      <input type="date" [(ngModel)]="fromDate" (change)="onDateChange()" />
    </label>

    <label>
      To:
      <input type="date" [(ngModel)]="toDate" (change)="onDateChange()" />
    </label>

    <label>
      Status:
      <select [(ngModel)]="selectedStatusFilter" (ngModelChange)="onStatusFilterChange($event)">
        <option>All</option>
        <option>Paid</option>
        <option>Unpaid</option>
      </select>
    </label>
  </div>


  <div *ngIf="filteredBills.length > 0; else noData">
    <table class="bill-table">
      <thead>
      <tr>
        <th (click)="toggleSort('Bill_Number')">Bill Number {{ getSortIcon('Bill_Number') }}</th>
        <th (click)="toggleSort('Bill_Date')">Bill Date {{ getSortIcon('Bill_Date') }}</th>
        <th>Billing Period</th>
        <th (click)="toggleSort('Due_Date')">Due Date {{ getSortIcon('Due_Date') }}</th>
        <th (click)="toggleSort('Bill_Amount')">Amount {{ getSortIcon('Bill_Amount') }}</th>
        <th>Status</th>
        <th (click)="toggleSort('Payment_Date')">
          PAYMENT DATE {{ getSortIcon('Payment_Date') }}
        </th>
        <th>Mode</th>
        <th>Download</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bill of filteredBills">
        <td>{{ bill.Bill_Number }}</td>
        <td>{{ bill.Bill_Date|date: 'yyyy-MM-dd'}}</td>
        <td>{{ bill.Billing_Period }}</td>
        <td>{{ bill.Due_Date |date: 'yyyy-MM-dd'}}</td>
        <td>{{ bill.Bill_Amount | currency:'INR' }}</td>
        <td>
            <span class="badge" [ngClass]="bill.Payment_Status.toLowerCase()">
              {{ bill.Payment_Status }}
            </span>
        </td>
        <td>{{ bill.Payment_Date ? (bill.Payment_Date | date: 'yyyy-MM-dd') : '-' }}</td>
        <td>{{ bill.Payment_Mode || '-' }}</td>
        <td>
          <a *ngIf="bill.Payment_Status === 'Paid'"
             (click)="generatePDF(bill)"
             class="download-link"
             style="cursor: pointer;">
            Download
          </a>

          <span
            *ngIf="bill.Payment_Status === 'Unpaid'"
            class="text-gray-400 cursor-not-allowed"
          >
    Download
  </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <ng-template #noData>
      <div class="error text-center mt-4 font-semibold">
    <span *ngIf="dateRangeError" class="text-red-600">
       Range given is Invalid
    </span>
        <span *ngIf="!dateRangeError" class="text-gray-600">
       No bills found for the selected range.
    </span>
      </div>
    </ng-template>
  </div>
</div>
