<!-- <div class="main" style="background-color: #f4f4f4; min-height: 100vh;">
    <div class="box">
        <div class="topbar">
            <img class="full-image" src="assets/images/Admin_image.jpg" alt="Admin Login">
        </div>
        <div class="topbar">
            <button type="submit" (click)="adminLogin()">Admin Login</button>
        </div>
    </div>
    <div class="box">
        <div class="topbar">
            <img class="full-image" src="assets/images/customer_login.jpg" alt="Customer Login">
        </div>
        <div class="topbar">
            <button type="submit" (click)="customerLogin()">Customer Login</button>
        </div>
    </div>
</div> -->
<div class="main">
  <div class="box">
    <div class="topbar">
      <img class="full-image" src="assets/images/admin_icon.jpg" alt="Admin Login">
      <h2>Admin Login</h2>
    </div>
    <div class="topbar">
      <button type="submit" (click)="adminLogin()">Login as Admin</button>
    </div>
  </div>
  <div class="box">
    <div class="topbar">
      <img class="full-image" src="assets/images/user_icon.jpg" alt="Customer Login">
      <h2>Customer Login</h2>
    </div>
    <div class="topbar">
      <button type="submit" (click)="customerLogin()">Login as Customer</button>
    </div>
  </div>
</div>
